* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
    
  }
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url('Ressurser_OsloLacrosse/Media/smiling_girls.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

}


 

/*Navigation bar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94BEE6;
  padding: 1rem;
}

.logo img {
  width: 80px; /* Adjust size of the image */
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

.nav-links li a:hover {
  background-color: #fff;
  border-radius: 5px;
}

/*Postion button*/
.content{
  display: flex;
  
  justify-content: center;

}

